<div id="bannerSuperior">
  <div class="contenedorNombrePagina">
    <div class="nombrePagina">
      <img src="../../assets/images/iconoTitulo.png" alt="Imagen titulo Pagina" width="300" height="100">
    </div>
  </div>

  <div class="menuSuperior">
    <o-bar-menu title="MENU" class="opcionesMenu"></o-bar-menu>
  </div>

  <div class="contenedorBuscador">
    <o-form>
      <div class="buscadorSuperior">
        <o-list-picker attr="listPickerContenido"  read-only="no"  label="Buscar contenido...."   service="contenidos" 
                      entity="contenido" columns="contenido_id;contenido_genero_id;contenido_tipo_contenido_id;contenido_titulo;contenido_sinopsis;
                      contenido_duracion;contenido_puntuacion;contenido_fecha_estreno;contenido_capitulos;contenido_foto" value-column="contenido_titulo"
                      keys="contenido_id" visible-columns="contenido_titulo" (onSelect)="onRecogerValor($event)">       
        </o-list-picker>
      </div>
      <div class="botonSuperior">
        <o-button attr="busqueda" class="botonBusqueda" type="RAISED" (click)="onRedirectToDetail($event)" label="Buscar" layout-padding></o-button>
      </div>
  </o-form>
  </div>
</div>

<router-outlet></router-outlet>
<app-shared-component-footer> </app-shared-component-footer>
