 
 
 
 <div> 
<o-list #listcomentarios
attr="noticia_id" 
columns="comentario_id;contenido_id;usuario_id;descripcion;fecha"
service="comentarios"
entity="comentario"
quick-filter="false"
controls="none">

  <mat-card *ngFor="let row of listcomentarios.dataArray" [o-list-item]="row">
    <mat-card-header>
      <div mat-card-avatar>
       
      </div>
      <mat-card-subtitle>{{ row.descripcion}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</o-list>
</div>
 
 <!--  
 
 
<div>
	<o-grid #gridcomentarios
			columns="comentario_id;contenido_id;usuario_id;descripcion;fecha"
			keys="comentario_id"
			show-page-size="yes"
			page-size-options="4;8;16"
			quick-filter="false"
			service="comentarios"
			entity="comentario">
		<o-grid-item *ngFor="let list of gridcomentarios.dataArray">
			<o-column layout-padding class="contendedorColumna">
				
				<p> {{list.comentario_id}} </p>
				<p> {{list.contenido_id}} </p>
				<p> {{list.usuario_id}} </p>
				<p> {{list.descripcion}} </p>
				<p> {{list.fecha}} </p>
			
	
			</o-column>
		</o-grid-item>
	</o-grid>
</div>

-->

