<o-form editable-detail="no" show-header="no" class="contenidos-filters-form" fxFill>
<o-column>
<div class="filtros">

<div class="buscar_por_genero">   
    <o-combo
    	attr="genero_id" 
    	read-only="no" 
    	service="contenidos" 
    	entity="genero" 
    	columns="genero_id;genero_nombre"
      	value-column="genero_id" 
      	keys="genero_id" 
      	visible-columns="genero_nombre" 
      	fxFlex="90">
    </o-combo>
</div>

</div>
   	<o-row layout-align="end">
 		<o-button 
	 		attr="filter" 
	 		[oFilterBuilderQuery]="filterBuilder" 
	 		type="RAISED" 
	 		label="Filter" 
	 		(click)="table.reloadData()" >
	 		
		</o-button>
		<o-button 
	      attr="clear" 
	      [oFilterBuilderClear]="filterBuilder" 
	      type="RAISED" 
	      label="Clear" 
	      class="filter-button" 
	 		(click)="filterBuilder.clearFilter()"> 
	      
    	</o-button>
    	
	</o-row>
   <o-filter-builder #filterBuilder 
		attr="filterBuilder" 
	  	filters="genero_id" 
	  	[target]="table"
	    [expression-builder]="createFilter">
   </o-filter-builder> 
</o-column>


 <o-table #table
    fxFlex
    attr="contenido_id"
    service="contenidos" 
  	entity="contenido"
    columns="contenido_id;contenido_genero_id;contenido_tipo_contenido_id;contenido_titulo;contenido_sinopsis;contenido_duracion;contenido_puntuacion;contenido_fecha_estreno;contenido_capitulos;contenido_foto" 
    visible-columns="contenido_id;contenido_genero_id;contenido_tipo_contenido_id;contenido_titulo;contenido_foto"
    keys="contenido_id"
    query-rows="5"
    quick-filter="no" >
  <o-table-column attr="contenido_id" title="contenido_id"></o-table-column>
  <o-table-column attr="contenido_genero_id" title="contenido_genero_id;"></o-table-column>
  <o-table-column attr="contenido_tipo_contenido_id" title="contenido_tipo_contenido_id"></o-table-column>
  <o-table-column attr="contenido_titulo" title="contenido_titulo"></o-table-column>
  <o-table-column attr="contenido_foto" title="contenido_foto" type=image></o-table-column>
  </o-table>
  
  <!-- 
<o-grid #grid 
	columns="contenido_id;contenido_genero_id;contenido_tipo_contenido_id;contenido_titulo;contenido_sinopsis;contenido_duracion;contenido_puntuacion;contenido_fecha_estreno;contenido_capitulos;contenido_foto" 
	keys="contenido_id" 
	show-page-size="yes" 
	page-size-options="4;8;16" 
	quick-filter="false" 
	service="contenidos" 
  	entity="contenido" 
  	grid-item-height="1:1.3"> 	
 	 <o-grid-item *ngFor="let list of grid.dataArray">
    <o-column layout-padding class="container-item">
    
    <o-image data="{{list.contenido_foto}}"style="margin-top:8px"show-controls="false"></o-image> 
   
      <h4> {{list.contenido_titulo}} </h4>       
    </o-column>
  </o-grid-item>
</o-grid>
 --> 
 
</o-form>
