/* You can add global styles to this file, and also import other style files */

/* -------------------------------------- MENU SUPERIOR MAIN --------------------------------------------*/
#bannerSuperior{
  width: 100%;
  height: 15%;
  float: left;
}

/* contendedor del icono del menu*/
.contenedorNombrePagina{
  width: 20%;
  height: 100%;
  float: left;
  background-color: #112D60;
}

/* contendedor del menu de opciones*/
.menuSuperior{
  height:100%;
  width: 60%;
  float: left;
}

/* contendedor del buscador de la lupa*/
.contenedorBuscador{
  width: 20%;
  height: 100%;
  float: left;
  background-color: #B6C0C5;
}

/* banner de opciones*/
.buscadorSuperior{
  margin-left: 30px;
  margin-top: 10%;
  float: left;
  width: 80%;
  height: 50%;
  margin-right: 20%;
}

.nombrePagina{
  width: 50%;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}

// barra Opciones Menu

.mat-toolbar.mat-primary{
  opacity:100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#112D60,#B6C0C5 )
}

o-bar-menu-nested {
  margin-left: 200px;
}

/* -------------------------------------- PARRILLAS --------------------------------------------*/

#bodyHome{
  background-color: white;
}

.contenedorParrillas{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.parrilla{
  width: 90%;
  margin-left: 5%;
  height: 50%;
  margin-top: 20px;
}

.contenedor{
  width: 90%;
  height: 90%;
  margin: 5%;
  border: 3px solid black;
  background: linear-gradient(to right,#112D60,#B6C0C5 )
}

.columnImagen{
  width: 60%;
  float: left;
  height: 300px;
}
.columnTexto{
  margin-top: 100px;
  float: left;
  width: 40%;
  height: 100px;
}

.imagenGrid{
  width: 90%;
  height: 85%;
  margin-top: 10px;
  margin-left: 5%;
}

.textoGrid{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  text-align: center;
  font-size: 20px;
}

/* -------------------------------------- FOOTER --------------------------------------------*/
footer{
  //position: absolute;
  //bottom: 0;
  background-color:black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 15px;
}

.contenedorFooter{
  width:100%;
  height: 100%;
  background-color:black;
  color:black;
}

.contendedorIntegrantes{
  width: 34%;
  height: 100%;
  float: left;
  background-color:black;
  color:white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration-style: solid;
}

.contenidoContenedor{
  margin-top: 5%;
  height: 100%;
  background-color:black;
}

.contenedorOntimize{
  width: 33%;
  height: 100%;
  background-color:black;
  float: left;
}

.contenedorCampusDual{
  width: 33%;
  height: 100%;
  float: left;
  background-color:black;
}








