<div class="bodyDetalleReparto">
  <o-form>
  <div class="contenedorDetalle">
    <o-grid
    pageable="no"
    controls="no"
    cols="4"
    show-footer="no">

    <o-grid-item colspan="1" rowspan="1">
      <div class="imagenDetalle">
        <o-image data="{{repartoFiltrado.reparto_foto}}" class="imagenContenidoDetalle" show-controls="false"></o-image>
      </div>
    </o-grid-item>
    <o-grid-item colspan="3" rowspan="1">
      <div class="textoDetalle">
        <p class="tituloDetalle">{{ repartoFiltrado.reparto_nombre }} {{ repartoFiltrado.reparto_apellido_1 }} </p>
        <p class="textoDetalleContenido">{{ repartoFiltrado.reparto_bibliografia }}</p>    
      </div>
    </o-grid-item>
  </o-grid>
  </div>
  </o-form> 
</div>
