
<div> 
<o-list #list 
attr="noticia_id" 
columns="noticia_id;noticia_usuario_id;noticia_descripcion;noticia_fecha_alta;noticia_fecha_modificacion;noticia_titulo"
service="noticias"
entity="noticia"
title="Noticias"
quick-filter="false"
controls="none">

  <mat-card *ngFor="let row of list.dataArray" [o-list-item]="row">
    <mat-card-header>
      <div mat-card-avatar>
       
      </div>
      <mat-card-title>{{ row.noticia_titulo }}</mat-card-title>
      <mat-card-subtitle>{{ row.noticia_descripcion }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</o-list>
</div>




