<div class="contendedorParrillaContenido">
	<div class="contenedorParrillas">
		<div class="parrilla">
			<o-grid #grid
					columns="reparto_id;reparto_nombre;reparto_apellido_1;reparto_apellido_2;reparto_bibliografia;reparto_foto"
					keys="reparto_id"
					service="repartos"
					entity="reparto"
					show-page-size="no"
					quick-filter="false"
					[cols]="5"
					pagination-controls="true"
					query-rows="10"
					show-footer="true"
					controls="none"
					page-size-options="10;20;30">

				<o-grid-item *ngFor="let list of grid.dataArray">
					<o-column>
						<div class="contenedor">
							<div class="columnImagen">
								<o-image class="imagenGrid" data="{{list.reparto_foto}}" style="margin-top:8px" show-controls="false"></o-image>
							</div>
							<div class="columnTexto">
								<p class="textoGrid" style="  font-size: 13px;"> {{list.reparto_nombre}} </p>
							</div>
						</div>
					</o-column>
				</o-grid-item>
			</o-grid>
		</div>
	</div>
</div>
