<div class="bodyDetalle">
  <o-form>
  <div class="contenedorDetalle">
    <o-grid
    pageable="no"
    controls="no"
    cols="4"
    show-footer="no">

    <o-grid-item colspan="1" rowspan="1">
      <div class="imagenDetalle">
        <o-image data="{{contenidoFiltrado.contenido_foto}}" class="imagenContenidoDetalle" show-controls="false"></o-image>
      </div>
    </o-grid-item>
    <o-grid-item colspan="3" rowspan="1">
      <div class="textoDetalle">
        <p class="tituloDetalle">{{ contenidoFiltrado.contenido_titulo }}</p>
        <p class="textoDetalleContenido">{{ contenidoFiltrado.contenido_sinopsis }}</p>
        <p class="textoDetalleContenido">Duración: {{ contenidoFiltrado.contenido_duracion }} min</p>  
        <p class="textoDetalleContenido">Puntuación: {{ contenidoFiltrado.contenido_puntuacion }}/10</p> 
        <p class="textoDetalleContenido">Fecha de estreno: {{ contenidoFiltrado.contenido_fecha_estreno | date: 'dd/MM/yyyy' }}</p>     
      </div>
    </o-grid-item>
  </o-grid>
  </div>
  
  <div class="detallesReparto">
    <p class="tituloComentario">Reparto:</p>
    <o-grid #gridRepartoEnContenido
    columns="reparto_id;reparto_nombre;reparto_apellido_1;reparto_apellido_2;reparto_bibliografia;reparto_foto"
    value-column="reparto_id"
    keys="reparto_id"
    service="repartos"
    entity="reparto"
    pageable="no"
    controls="no"
    cols="4"
    show-footer="no"
    (onClick)="onRedirectToDetail($event)">

    <o-grid-item *ngFor="let reparto of contenidoRepartoFiltrado">
      <div class="imagenRepartoEnContenido">
        <div  class="fotoRepartoEnContenido">
          <o-image data="{{reparto.reparto_foto}}" show-controls="false"></o-image>
        </div>
        <div class="textoRepartoEnContenido">
          <p>{{ reparto.reparto_nombre }} {{ reparto.reparto_apellido_1 }}</p>
        </div>
      </div>
    </o-grid-item>
  </o-grid>
  </div>
  
    
  <div class="comentariosDetalle"> 
    <p class="tituloComentario">Comentarios:</p>
    <o-list 
    attr="comentario_id" 
    columns="comentario_id;contenido_id;usuario_id;descripcion;fecha"
    service="comentarios"
    entity="comentario"
    quick-filter="false"
    controls="none">

      <div class="listadoComentarios">
       <div *ngIf="mostrarcomentario; else nohaycomentarios"> 
           <mat-card *ngFor="let comentario of comentarioFiltrado" >
    	        <mat-card-header>
     		        <div mat-card-avatar>
      		      </div>
      		      <mat-card-subtitle>{{ comentario.descripcion}}</mat-card-subtitle>		
    	        </mat-card-header>
          </mat-card>
         </div> 
    <ng-template #nohaycomentarios> 
      <mat-card >
		    <mat-card-header >
     		 <div mat-card-avatar>
      	  </div>
      		<mat-card-subtitle>No hay comentarios disponibles</mat-card-subtitle>		
    	  </mat-card-header>
     </mat-card>
  </ng-template> 
      </div>
    </o-list>
  </div>
  </o-form> 
</div>
