<o-grid
  #grid
  columns="contenido_id;contenido_titulo;contenido_sinopsis;contenido_foto"
  keys="contenido_id"
  service="contenidos"
  entity="contenido"
  pageable="no"
  controls="no"
  cols="4"
>
  <o-grid-item colspan="1" rowspan="1">
    <div fxFill class="fondoAzulItemGrid"></div>
  </o-grid-item>
  <o-grid-item colspan="3" rowspan="1">
    <div fxFill class="fondoAzulItemGrid">
      <p *ngFor="let list of grid.dataArray">
        ID: {{ list.contenido_id }}
      </p>
    </div>
  </o-grid-item>
</o-grid>
