<p>asdd </p>
<o-form> 
<o-grid
  pageable="no"
  controls="no"
  cols="4">
  <o-grid-item colspan="1" rowspan="1">
    <div fxFill class="fondoAzulItemGrid">
      <o-image data="{{contenidoFiltrado.contenido_foto}}" style="margin-top:8px" show-controls="false"></o-image>
    </div>
  </o-grid-item>
  <o-grid-item colspan="3" rowspan="1">
    <div fxFill class="fondoAzulItemGrid">
      <p>Titulo: {{ contenidoFiltrado.contenido_titulo }}</p>
      <p>Sinopsis: {{ contenidoFiltrado.contenido_sinopsis }}</p>    
    </div>
  </o-grid-item>
</o-grid>
 
  
 <div> 
<o-list 
attr="comentario_id" 
columns="comentario_id;contenido_id;usuario_id;descripcion;fecha"
service="comentarios"
entity="comentario"
quick-filter="false"
controls="none">

  <mat-card *ngFor="let comentario of comentarioFiltrado" >
    <mat-card-header>
      <div mat-card-avatar>
      </div>
      <mat-card-subtitle>{{ comentario.descripcion}}</mat-card-subtitle>

    </mat-card-header>
  </mat-card>
</o-list>
</div>

<o-list #repartoList>
  <o-list-item *ngFor="let unReparto of repartosFiltrado">

    <o-list-item-avatar avatar="{{ unReparto.reparto_foto }}" title="{{ unReparto.reparto_nombre + unReparto.reparto_apellido_1}}">
    </o-list-item-avatar>

  </o-list-item>

</o-list>
</o-form> 
