<footer>
  <div class="contenedorFooter">
    <div class="contendedorIntegrantes">
      <div class="contenidoContenedor">
        <h5>Integrantes del proyecto:</h5>
        <p>Margarita Ledo - Diego Silva - Germán Corbelle</p>
      </div>

    </div>
    <div class="contenedorOntimize">
      <div class="contenidoContenedor">
          <img src="../../assets/images/iconoOntimize.png" width="150" height="71">
      </div>
    </div>
    <div class="contenedorCampusDual">
      <div class="contenidoContenedor">
          <img src="../../assets/images/iconoCampusdual.png" width="180" height="71">
      </div>
    </div>

  </div>
</footer>
