<div id="bodyHome" fxLayout="row" layout-padding>

  <div class="contenedorParrillas">
    <div class="parrilla">
      <p class="textoGrid" style="  font-weight: bold;">Ultimos Estrenos</p>
      <o-grid #gridEstrenos
              columns="contenido_id;contenido_genero_id;contenido_tipo_contenido_id;contenido_titulo;contenido_sinopsis;contenido_duracion;contenido_puntuacion;contenido_fecha_estreno;contenido_capitulos;contenido_foto"
              keys="contenido_id"
              service="contenidos"
              entity="ultimosEstrenos"
              [cols]="5"
              controls="false"
              grid-item-height="1:1.3"
              pagination-controls="false"
              show-footer="none">

        <o-grid-item *ngFor="let list of gridEstrenos.dataArray">
          <o-column>
            <div class="contenedor">
              <div class="columnImagen">
                <o-image class="imagenGrid" data="{{list.contenido_foto}}" style="margin-top:8px" show-controls="false"></o-image>
              </div>
              <div class="columnTexto">
                <p class="textoGrid" style="  font-size: 13px;"> {{list.contenido_titulo}} </p>
                <p class="textoGrid" style="  font-size: 13px;"> {{list.contenido_puntuacion}} </p>
              </div>
            </div>

          </o-column>
        </o-grid-item>
      </o-grid>
    </div>

    <div class="parrilla">
      <p class="textoGrid" style="  font-weight: bold;">Más Puntuadas</p>
      <o-grid #gridPuntuadas
              columns="contenido_id;contenido_genero_id;contenido_tipo_contenido_id;contenido_titulo;contenido_sinopsis;contenido_duracion;contenido_puntuacion;contenido_fecha_estreno;contenido_capitulos;contenido_foto"
              keys="contenido_id"
              service="contenidos"
              entity="puntuadas"
              [cols]="5"
              controls="false"
              grid-item-height="1:1.3"
              pagination-controls="false"
              show-footer="none">


        <o-grid-item *ngFor="let list of gridPuntuadas.dataArray" >
          <o-column>
            <div class="contenedor">
              <div class="columnImagen">
                <o-image class="imagenGrid" data="{{list.contenido_foto}}" style="margin-top:8px" show-controls="false"></o-image>
              </div>
              <div class="columnTexto">
                <p class="textoGrid" style="  font-size: 13px;"> {{list.contenido_titulo}} </p>
                <p class="textoGrid" style="  font-size: 13px;"> {{list.contenido_puntuacion}} </p>
              </div>
            </div>
          </o-column>
        </o-grid-item>
      </o-grid>
    </div>
  </div>
</div>

